body{
  color: #fff;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  background-image: url(../images/energy-conected.jpg);
  opacity: 0.888;

  overflow: auto;


}




h1{
  color: #11999E;
  font-size: 5.625rem;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-weight: 900;



}

h2{
  color: #11999E;
  font-family: 'Merriweather', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
  padding-top: 10px;


}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p{
  line-height: 2;
  font-size: 1.5rem;

}


hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}



a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6
}

@media (max-width: 600px) {
.top-container{
  background-color: #e1f4f3;
  position: relative;
  padding-top: 7px;



max-height: 500px;
}
h1{
  font-size: 4rem;
}
h2{
  font-size: 2rem;
}
}

@media (min-width: 1028px) {
.top-container{
  background-color: #e1f4f3;
  position: relative;
  padding-top: 7px;

min-height: 100px;
}
}

.windmill{
  width: 1000px;
  margin: 100px auto 100px auto;

}



.middle-container{
margin: 100px 0;

padding-bottom: 1500px;

margin-top: 3%;
min-height: 400px;
}

.bottom-container{
position: relative;
top: 100px;

background-color: #66BFBF;
padding: 50px 0 20px;

padding-top: 50px;

min-height: 10px;
margin-top: 3%;
}

.top-container, .middle-container, .bottom-container{
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 3px 5px 7px #666666;
  border: 1px solid black;
}

.co{
  text-decoration: underline;
}








.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
@media (min-width: 1028px) {


.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

}

@media (min-width: 1028px){
.bottom-cloud{
  position: absolute;
  left: 250px;
  top: 200px;
}

}

@media (min-width: 1028px){
.chart-image{
  width: 50%;
  height: 70%;

  float: none;
}
}

@media (max-width: 600px){
.chart-image{
  width: 90%;
  height: 70%;

  float: none;
}

}

@media (min-width: 1028px){
.preise{
  position: relative;
}
}

@media (max-width: 600px){
.preise{
position: relative;
bottom: 2rem;
}
}

#line-cutting{
  width: 100%;

  position: relative;

padding-bottom: 56.04%; /* set the aspect ratio here as (height / width) * 100% */

height: 0;

/* overflow: auto; */

max-width: 100%;
}

#cut-line{
margin-left:auto;

margin-right:auto;

float :none;



position: absolute;

top: 0;

left: 0;

width: 100%;

height: 100%;
}



@media (max-width: 600px){


.power-cut{
position: relative;
top: 13rem;
}
.preise-row{
  position: relative;
  top: 13rem;
    width: 100%;
    margin: 10rem auto 10rem auto;

    line-height: 2;
   }
  .profile{
    position: relative;
    top: 13rem;
    margin: 10rem auto 10rem auto;

  }



  .contact-me{
    position: relative;
    top: 20rem;
    margin top: 15rem;
    padding-top: 15rem;
    padding-bottom: 15rem;
  }

}
@media (min-width: 1028px){


  .power-cut{
  position: relative;
  top: 40rem;
  }
  .profile{
    position: relative;
    top: 40rem;
  }
  .contact-me{
    position: relative;
    top: 1633px;
    margin top: 22px;
  padding-top: 22px;
  }

  .preise-row{
    position: relative;
    top: 650px;

      width: 50%;
      margin: 100px auto 100px auto;

      line-height: 2;
    }

  }



.power-cut-row-line{
/* padding top: 70050px; */
}





.save-money-image{

  width: 50%;



}



.portrait{
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.intro{
  width: 333px;
  margin: auto;
}


.btn{
	background-color:#11cdd4;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-family: 'Montserrat', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#11999E;
}
.myButton:active {
	position:relative;
	top:2px;
}
